/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */
body {
    font-family: "Open Sans", sans-serif;   
}  

/* HEADER */
header {
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 30px 18px;
}